@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

:root {
  --primary-color: linear-gradient(to right, #0083b0, #00b4db);
  --icon: #00b4db;
  --link: white;
  --primary-white: white;
  --primary-black: black;
  --secondary-color: slategray;
}
:root.dark-mode {
  --primary-color: beige;
  --primary-white: black;
  --primary-black: lightgray;
  --secondary-color: beige;
}
#content {
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main main"
    "nav main main"
    "footer main main";
  grid-template-rows: 80px 1fr 1fr 60px;
  grid-template-columns: 30vh 1fr 1fr;
  grid-gap: 10px;
  height: 98vh;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: calc(0.7rem + 0.5vw);
  line-height: calc(1.1rem + 0.5vw);
  color: var(--primary-white);
}
header,
footer,
main,
nav {
  padding: 1rem;
  border-radius: 20px;
  background: var(--primary-color);
}
header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(0.9rem + 0.3vw);
}
.fas {
  padding-right: 0.5rem;
}
.far {
  padding-right: 0.5rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.logo > * {
  padding: 0.3rem;
}
.fa-adjust {
  cursor: pointer;
}
nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(1rem + 0.2vw);
  overflow: auto;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
}
.searchTerm {
  width: 100%;
  border: 3px solid var(--primary-white);
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: var(--primary-white);
  background: var(--primary-color);
}
.searchTerm:focus {
  color: white;
}
.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid var(--primary-white);
  background: var(--primary-white);
  text-align: center;
  color: var(--icon);
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}
.wrap {
  width: 80%;
  padding-top: 1rem;
  padding-bottom: 2rem;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-container {
  padding: 0.5rem;
}
.list-shortcuts {
  padding: 0.5rem;
}
.list-projects {
  height: 100px;
  overflow: auto;
  padding: 0.5rem;
}
.list-element {
  cursor: pointer;
  padding: 0.1rem;
  transition: all 0.1s linear;
}
.list-element:hover {
  transform: scale(1.1);
}
#add-project {
  border: 2px solid var(--primary-white);
  background-color: var(--primary-white);
  border-radius: 15px;
  padding: 8px 25px;
  cursor: pointer;
  color: var(--icon);
  transition: all 0.2s linear;
}
#add-project:hover {
  background: var(--primary-color);
  color: var(--icon);
  font-weight: bolder;
}
.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#project-name {
  width: 90%;
  border: 3px solid var(--primary-white);
  padding: 5px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  color: var(--primary-white);
  background: var(--primary-color);
}
.project-box:focus {
  color: var(--primary-white);
}
.project-box-buttons {
  padding-top: 0.7rem;
}
#add-project-box {
  margin-right: 0.7rem;
  border: 2px solid var(--primary-white);
  background-color: var(--primary-white);
  border-radius: 15px;
  padding: 8px 25px;
  cursor: pointer;
  color: var(--icon);
  transition: all 0.2s linear;
}
#add-project-box:hover {
  background: var(--primary-color);
  color: var(--primary-white);
  font-weight: bolder;
}
#cancel-project-box {
  border: 2px solid var(--primary-white);
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 8px 25px;
  cursor: pointer;
  color: var(--primary-white);
  transition: all 0.2s linear;
}
#cancel-project-box:hover {
  background: var(--primary-color);
  
  font-weight: bolder;
}
.hidden {
  display: none;
}
main {
  grid-area: main;
  overflow: auto;
}
.tasks-container {
  padding: 0.5rem;
  margin: 0 15vw;
}
.tasks-header {
  display: flex;
  align-self: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin: 0 1rem;
  font-weight: bold;
  font-size: calc(1rem + 0.2vw);
}
.tasks > * {
  margin: 0.5rem;
}
.task {
  border: solid 1px var(--primary-white);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  font-size: calc(0.7rem + 0.3vw);
  cursor: pointer;
  transition: all 0.1s linear;
}
.task:hover {
  transform: scale(1.05);
}
.task .fa-edit {
  padding-left: 1rem;
}
#add-task {
  border: 1px solid var(--primary-white);
  border-radius: 20px;
  display: flex;
  justify-content: flex-start;
  padding: 0.4rem;
  font-size: calc(0.7rem + 0.3vw);
  cursor: pointer;
  transition: all 0.1s linear;
  opacity: 0.5;
}
#add-task:hover {
  opacity: 1;
  transform: scale(1.05);
}
footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(0.6rem + 0.5vw);
}
footer a {
  text-decoration: none;
  color: var(--link);
}
.task-box {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}
.task-box-title {
  text-align: center;
}
.task-box-container {
  border: 3px solid var(--primary-white);
  background: var(--primary-color);
  padding: 0rem 3rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
}
.task-box-container > * {
  padding: 0.5rem;
}
.input-element {
  width: 90%;
  border: 3px solid var(--primary-white);
  padding: 5px;
  height: 20px;
  border-radius: 10px;
  outline: none;
  color: var(--primary-white);
  background: var(--primary-color);
}
#task-description {
  width: 90%;
  border: 3px solid var(--primary-white);
  padding: 5px;
  height: 100px;
  border-radius: 10px;
  outline: none;
  color: var(--primary-white);
  background: var(--primary-color);
  resize: vertical;
}
.task-box-priority {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  margin-right: 0.8rem;
}
#task-priority {
  border: 3px solid var(--primary-white);
  appearance: none;
  height: 35px;
  width: 40%;
  text-align:center; 
  border-radius: 10px;
  color: var(--primary-white);
  background: var(--primary-color);
}
.task-box-buttons {
  padding: 2rem;
  align-self: center;
}
#add-task-box {
  border: 2px solid var(--primary-white);
  background-color: var(--primary-white);
  border-radius: 15px;
  padding: 8px 25px;
  cursor: pointer;
  color: var(--icon);
  transition: all 0.2s linear;
}
#add-task-box:hover {
  background: var(--primary-color);
  color: var(--primary-white);
  font-weight: bolder;
}
#cancel-task-box {
  border: 2px solid var(--primary-white);
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 8px 25px;
  cursor: pointer;
  color: var(--primary-white);
  transition: all 0.2s linear;
}
#cancel-task-box:hover {
  background: var(--primary-color);
  font-weight: bolder;
}
/* Stack the layout on small devices/viewports. */
@media all and (max-width: 575px) {
  #content {
    grid-template-areas:
      "header"
      "nav"
      "main"
      "main"
      "footer";
    grid-template-rows: 100px 1fr 1fr 1fr 60px;
    grid-template-columns: 1fr;
    height: auto;
  }
  header {
    flex-direction: row;
    justify-content: space-around;
  }
  .wrap {
    display: none;
    width: 60%;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
  }
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
  .tasks-container {
    margin: 0;
  }
  .task-box {
    background-color: rgba(0, 0, 0, 0.0);
  }
  .task-box-container {
    border: 3px solid var(--primary-white);
    padding: 0rem 2rem;
}
